.List-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.list-item {
	border: 1px solid lightgray;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
	width: 100px;
}

.list-item-image-wrapper {
	width: 100%;
	height: 100px;
}

.list-item-image {
	width: 100%;
}
